
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Raleway', sans-serif;
}
h1{
  font-size: 70px;
}

h2{
  font-size: 40px;
  font-weight: bold;
  padding: 2% 0 7%
}
/* navbar */

.navbar{
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  padding-top: 5%
}

.nav-link{
  color: white;
  font-size: 20px;
  font-weight: bolder;
  margin: 0 20px 0
}

.page-top{
  height: 50px;
  width: 100px;
  border-radius: 100%;
  position: fixed;
  bottom: -100px;
  left: 90%;
}

/* banner section */
#banner{
  background-image: url("planet.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  text-align: center;
  z-index: 2;
}

.banner-text{
  font-family: 'Fredoka One', cursive;
  color: white;
  padding: 10% 2% 10%;
}

.banner-st{
  font-size: 30px;
}
/* skills section */

#skills{
  background-color: white;
  padding: 3% 15% 7%;
  text-align: center;
}

img{
  height: 200px;
  width: 200px;
  margin: 10% 0 10%
}

.js-logo{
  border-radius: 100%;
  background-color: #f2f2f2;
}

.jquery-logo{
  height: 250px;
}

/* projects section */
#projects{
  background-color: #394867;
  padding: 3% 15% 7%;;
  align-content: center;
}

.projects-title{
  text-align: center;
  color: white;
}

.card-body{
  text-align: center;
}
.card-img-top{
transition: transform .2s; animation
}

.card-img-top:hover{
transform: scale(1.5);
}

.card-title{
  font-weight: bold;
}
.btn-site{
  background-color: #595b83;
  color: white;
}

.btn-site:hover{
  background-color: #31326f
}
/* contact section */
#contact {
  background-color: white;
text-align: center;
padding: 3% 15% 7%
}

.icon {
  font-size: 100px;
  padding-bottom: 10%;
}

.fa-phone{
  color: #bedbbb;
}

.fa-phone:hover{
  color: #8db596
}

.fa-envelope{
  color: #eb8f8f;
}

.fa-envelope:hover{
  color: #ec0101;
}

.fa-github-square{
  color: #bbe1fa;
}

.fa-github-square:hover{
  color: #0f4c75;
}

.link-text{
  color: black;
}
